.result-list {
  padding: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 5px var(--card-box-shadow-color);
  position: relative;
}

.card h3 {
  margin-top: 0;
  color: var(--card-text-color);
}

.card p {
  margin: 5px 0;
  color: var(--card-text-color);
}

.card input[type='checkbox'] {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  transform: scale(1.5);
}
